*{
    margin: 0px;
}
#container{
    height:auto;
    width:95%;
    margin:auto;
}
#header{ 
    position: sticky;
    top: 0;
     height: 70px;
     background-color: #252525;
     display: flex;
      justify-content: space-between;
}
#name{
    height: 330px;
    width: 250px;
    padding: 15px;
}
#co{
    font-size: 40px;
    color: white;
    
}
 #check{
    display: none;
}
#btn{

    display: none;
}
#cancel{
    display: none;
} 
 #nav{
    height: 60px;
    z-index: 1;
    width: 500px;
    /* margin-left: 20px; */
    /* background-color:blue ; */
  }
 #nav ul{
    list-style: none;
    /* color:red; */
    padding: 10px;
  }
  #nav ul li{
    display: inline;
    
  }
  #nav ul li a{
    font-size: 20px;
    color: white;
    font-family: candara;
    margin-left: 20px;
    text-decoration: none;
  }
  #nav ul li :hover{
    color: brown;
  }
#img{
   
    height: 700px;
    background-color: white;
}
#im{
    height: 690px;
    width: 100%;
}
#about{
    height: 600px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}
#about1{
    height: 400px;
    width: 500px;
    margin-top: 20px;
    padding: 60px;
}
#ab{
    font-size: 30px;
    color: orange;
    font-family: candara;
}
#cont{
    font-size: 20px;
    color: gray;
}
#demo{
    height: 20px;
    width: 120px;
    background-color: black;
    color: white;
    padding: 15px;
}
#image{
    height: 520px;
    width: 500px;
    margin-top: 20px;
}
#i{
    height: 520px;
}
#gallary{
    height: 1600px;
    margin-top: 30px;
}
#gal{
    font-size: 25px;
    color: orange;
    font-family: candara;
}
#conn{
    font-family: candara;
    font-size: 20px;

}
#fr{
    height: 400px;
}
#gall{
    margin-left: 35px;
    height: 380px;
    width: 360px;
}
#re{
    height: 45x;
    width: 150px;
    background-color: black;
    color: white;
}
#service{
    height: 600px;
   
}
#ser{
    font-size: 30px;
    color: orange;
    font-family: candara;
}
#se{
    font-size: 20px;
    
}
#fri{
    height: 370px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
#fri-1{
    height: 360px;
    width: 360px;
    background-color: whitesmoke;
   
}
#immm{
    height: 50px;
    margin-top: 80px;
}
#coo{
    font-size: 18px;
    font-family: candara;
}
#cooo{
    font-size: 18px;
    font-family: candara;
}
#contact{
    height:490px;
    padding: 30px;
    font-family: candara;
}
#back{
    height:250px ;
    background-color:#252525;
    padding: 20px;
}
#contact1,#contact2,#contact3{
    height: 250px;
    width: 230px;
    font-size: 20px;
    font-family: candara;
   color: white;
    margin: 5px;
    float:left;
    padding: 20px;
    line-height: 30px;
}
#contact4{
    height: 290px;
    width: 285px;
    margin: 5px;
    float:left;
    color: white;
    font-size: 20px; 
    
}
#contact4 ul{
    list-style: none;
    padding: 25px;
}
#contact4 ul li{
    display: inline;
}
#contact4 ul li a{
    color:white;
    font-family: candara;
    font-size: 20px;
    margin-left:30px;
    text-decoration: none;
}
#contact4 ul li a:hover{
    color :red;
}
#footer{
    height: 100px;
   
}
#foot{
    font-size: 20px;
}
@media screen and (min-device-width: 360px) and (max-device-width: 720px){    
    *{
        margin: 0px;
    }
    #container{
        height:auto;
        width:95%;
        margin:auto;
    }
    #header{
        
         height: 50px;
         background-color: #252525;
         display: flex;
          justify-content: space-between;
          /* border: 2px solid yellow; */
    }
    #name{
        position: sticky;
        top: 0;
        height: 15px;
        width: 80px;
         padding: 9px;
         margin-top: 7px; 
       /* border: 2px solid red; */
    }
    #co{
        font-size: 15px;
        color: white;
        margin-right: 10px;
    }
    #nav{
        height: 50px;
        z-index: 1;
        width: 500px; 
        /* background-color:blue ; */
      }
     #nav ul{
        list-style: none;
        position: fixed;
        width: 100%;
        height: 30vh;
        color: black;
        background-color: black;
        top: 50px;
        left: 120%;
        text-align: center;
        transition: all .10s;
        padding:6px;
      }
      #nav ul li{
        display: block;
        margin: 10px;
      }
      #nav ul li a{
        font-size: 20px;
        color: white;
        font-family: candara;
        margin-left: 20px;
        text-decoration: none;
      }
      #btn{
        display: block;
        margin-top: 20px;
        margin-left: 210px;
      }
      #check:checked ~ ul{
        left: 0%;
    }
    #check:checked ~ label #btn{
        color: white;
        display: none;
    }
    #check:checked ~ label #cancel{
        margin-top: 20px;
        margin-left: 210px;
        display: block;
    }
      #nav ul li :hover{
        color: brown;
      }
    #img{
       
        height: 320px;
        background-color: white;
        /* border: 5px solid red; */
    }
    #im{
        height: 320px;
        width: 100%;
    }
    #about{
        height: 440px;
        padding: 1px;
        /* display: flex;
        justify-content: space-evenly; */
        /* border: 5px solid red; */
    }
    #about1{
        height: 400px;
        width: 500px;
        /* margin-left: 50px; */
        /* margin-top: 20px;s */
        /* border: 2px solid black; */
        padding: 6px;
    }
    #ab{
        font-size: 15px;
        color: orange;
        /* border: 1px solid red; */
        /* margin-top: -10px; */
        font-family: candara;

    }
    #cont{
        font-size: 15px;
        color: gray;
    }
    #demo{
        height: 20px;
        width: 120px;
        /* background-color: black; */
        color: white;
        padding: 15px;
    }
    #image{
        height: 300px;
        width: 150px;
        margin-top: 80px;
        /* border: 5px solid red; */
    }
    #i{
        height: 220px;
        width: 150px;
    }
    #gallary{
        height: 1050px;
        /* border: 2px solid red; */
        margin-top: -20px;
    }
    #gal{
        font-size: 16px;
        color: orange;
        font-family: candara;
    }
    #conn{
        font-family: candara;
        font-size: 15px;
    
    }
    #fr{
        height: 240px;
       
    }
    #gall{
        margin-left: 10px;
        height: 190px;
        width: 28%;
    }
    #re{
        height: 45x;
        width: 150px;
        background-color: black;
        color: white;
    }
    #service{
        /* border: 1px solid red; */
        height: 520px;
       
    }
    #ser{
        font-size: 18px;
        color: orange;
        font-family: candara;
    }
    #se{
        font-size: 15px;
        
    }
    #fri{
        height: 400px;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
       
    }
    #fri-1{
        height: 320px;
        width: 560px;
        border: 1px solid black;
        background-color: whitesmoke;
       
    }
    #immm{
        height: 40px;
        margin-top: 30px;
    }
    #coo{
        font-size: 11px;
        font-family: candara;
    }
    #cooo{
        font-size: 16px;
        font-family: candara;
    }
    #contact{
        /* border:  2px solid red; */
        height:600px;
        margin-left: 30px;
        font-family: candara;
    }
    
    #back{
        height:600px ;
        width:100%;
         background-color:#252525; 
        /* background-color: blue; */
        padding: 2px;
        /* border: 1px solid red */
    }
    #contact1,#contact2,#contact3{
        height: 120px;
        width: 200px;
        font-size: 14px;
        font-family: candara;
       color: white;
        margin: 5px;
        /* float:left; */
        padding: 10px;
        line-height: 20px;
        margin-left: 20px;
        border: 1px solid black;
    }
    #contact4{
        height: 140px;
        width: 220px;
        margin: 5px;
        float:left;
        color: white;
        font-size: 15px; 
        margin-left: 20px;
        border: 1px solid black;
        
    }
    #contact4 ul{
        list-style: none;
        padding: 4px;
    }
    #contact4 ul li{
        display: inline;
    }
    #contact4 ul li a{
        color:white;
        font-family: candara;
        font-size: 17px;
        margin-left:1px;
        text-decoration: none;
    }
    #contact4 ul li a:hover{
        color :red;
    }
    #footer{
        height:80px;
       /* background-color: aqua; */
       margin-top: 100px;
    }
    #foot{
        font-size: 18px;
        margin-left: 16px;
    }
}
/* @media screen and (min-device-width: 500px) and (max-device-width: 720px){
    #co{
        font-size: 22px;
        color: white;
        margin-right: 10px;
    }

    #nav ul li a{
        color:white;
        font-family: candara;
        font-size: 17px;
        margin-left:5px;
        text-decoration: none;
    }
    
    #contact{
        /* border:  2px solid red; 
        height:400px;
        margin-left: 30px;
        font-family: candara;
    }
    #back{
        height: 410px ;
        width:84%;
         /* background-color:#252525;  */
        /* background-color: blue; *
        padding: 2px;
        /* border: 1px solid red */

